@using KLTN20T1020433.Application.Services
@using KLTN20T1020433.Web.AppCodes
@model KLTN20T1020433.Web.Areas.Student.Models.TestModel

@{
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <div class="card-header bg-light border-bottom border-primary">
                    <h3 class="text-primary fw-semibold">
                        @Model.Test.Title
                    </h3>
                    <div class="d-flex align-items-center">
                        <p class="text-muted fw-semibold fs-3 mb-1"> @Model.Test.TeacherName</p>
                        <p class="text-muted fw-semibold fs-3 ms-3 mb-1"> - </p>
                        <p class="text-muted fw-semibold fs-3 ms-3 mb-1"> @Model.Test.CreatedTime.ToString(Converter.DateWithMonth)</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="text-dark mb-0">

                            @if (Model.Test.StartTime != null)
                            {
                                <b>
                                    Bắt đầu @Model.Test.StartTime.Value.ToString(Converter.TimeWithDateAndMonth)
                                </b>
                            }

                        </p>
                        <p class="text-dark mb-0">
                            @if (Model.Test.EndTime != null)
                            {
                                <b>Đến hạn @Model.Test.EndTime.Value.ToString(Converter.TimeWithDateAndMonth)</b>
                            }
                            else
                            {
                                <b>Không có ngày đến hạn</b>
                            }
                        </p>
                    </div>
                </div>
                @if (Model.Test.StartTime <= DateTime.Now || Model.Test.StartTime == null)
                {
                    <div class="card-body d-none d-lg-block">
                        <div class="card-text">
                            @Html.Raw(@Model.Test.Instruction)
                        </div>
                        <div class="row">
                            @if (Model.Files != null && Model.Files.Any())
                            {
                                @foreach (var item in Model.Files)
                                {
                                    <div class="col-lg-6 mb-3">
                                        <div class="rounded-2 border border-dark-light pe-2">
                                            <a href="@Url.Action("DownLoadFile", "Test", new { id = item.FileId, testId = @Model.Test.TestId })" class="flex-grow-1 overflow-hidden hstack">
                                                <div class="flex-shrink-0 position-relative mx-1 border border-end custom-box">
                                                    @Html.Raw(Helper.GetIconClassFromFileExtension(item.FileType))
                                                </div>
                                                <div class="overflow-hidden">
                                                    <span class="text-truncate d-block">@item.OriginalName</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div>Không có tệp đính kèm.</div>
                            }
                        </div>
                    </div>
                    <div class="card-body d-block d-lg-none">
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="card-text">
                                    @Html.Raw(@Model.Test.Instruction)
                                </div>
                            </div>
                            <div class="col-md-6 mt-2">
                                <div class="row">
                                    @if (Model.Files != null && Model.Files.Any())
                                    {
                                        @foreach (var item in Model.Files)
                                        {
                                            <div class="col-lg-6 mb-3">
                                                <div class="rounded-2 border border-dark-light pe-2">
                                                    <a href="@Url.Action("DownLoadFile", "Test" , new { id = item.FileId, testId=@Model.Test.TestId})" class="flex-grow-1 overflow-hidden hstack">
                                                        <div class="flex-shrink-0 position-relative mx-1 border border-end custom-box">
                                                            @Html.Raw(Helper.GetIconClassFromFileExtension(item.FileType))
                                                        </div>
                                                        <div class="overflow-hidden">
                                                            <span class="text-truncate d-block">@item.OriginalName</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div>Không có tệp đính kèm.</div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card-body d-block">
                        <p class="card-text">
                            Chưa đến giờ làm bài!
                        </p>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-4">
            <div id="submission">
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var testId = @Model.Test.TestId;
            getSubmission(testId);
        });
        function getSubmission(testId) {
            var url = '@Url.Action("Submission", "Test")';
            $.ajax({
                url: url,
                type: "GET",
                data: { testId: testId },
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                },
                success: function (data) {
                    $("#submission").html(data);
                }
            });
            return;
        }

    </script>
}