@using KLTN20T1020433.Web.AppCodes
@model KLTN20T1020433.Application.Queries.StudentQueries.GetTestsBySearchQuery

@{
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <form class="d-flex justify-content-between align-items-center mb-4" id="formSearch" action="@Url.Action("Search", "Test")" method="post" data-container="#searchResult">
        <div class="d-flex">
            @Html.DropDownListFor(m => m.Status, SelectListHelper.GetTestStatusForStudent(), new { @class = "form-select filter-select me-2", @style = "width: 200px;" })
            @Html.DropDownListFor(m => m.Type, SelectListHelper.GetTestType(), new { @class = "form-select filter-select me-2", @style = "width: 200px;" })
        </div>
        <div class="d-flex">
            <label for="fromTime" class="input-group-text">Từ ngày:</label>
            <input id="fromTime" type="date" class="form-control me-2" style="width: 150px;" name="FromTime">
            <label for="toTime" class="input-group-text">Đến ngày:</label>
            <input id="toTime" type="date" class="form-control me-2" style="width: 150px;" name="ToTime">
            <button class="btn btn-outline-primary" type="submit">
                Lọc
            </button>
        </div>
        @Html.HiddenFor(m => m.PageSize)
        @Html.HiddenFor(m => m.StudentId)
    </form>
    <div id="searchResult">
    </div>    
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(this, 1);
                return;
            });

            doSearch("#formSearch", @Model.Page);
        });

        function doSearch(formSearchInput, page) {
            var url = $(formSearchInput).prop("action");
            var container = $(formSearchInput).data("container");
            var postData = $(formSearchInput).serializeArray();
            var searchValue = $('#searchValue').val();
            postData.push(
                { "name": "page", "value": page },
                { "name": "FromTime", "value": $('#fromTime').val() },
                { "name": "ToTime", "value": $('#toTime').val() },
                { "name": "SearchValue", "value": searchValue }
            );
            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                },
                success: function (data) {
                    $(container).html(data);
                }
            });

            return;
        }
    </script>
}
