@using KLTN20T1020433.Application.Services
@using KLTN20T1020433.Web.AppCodes
@model KLTN20T1020433.Application.Queries.StudentQueries.GetTestsBySearchQuery

@{
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-body pt-3">
            <h2 class="fw-semibold">Danh sách kỳ thi</h2>
            <form class="mb-2" id="formSearch" action="@Url.Action("Search", "Test")" method="post">
                <div class="d-lg-none d-flex mb-2">
                    <input class="form-control border-0 rounded-0" type="search" placeholder="Tìm kiếm" aria-label="Search" id="searchValue" name="SearchValue" value="@Model.SearchValue">
                    <button class="btn btn-primary border-0" type="submit"><span><i class="ti ti-search"></i></span></button>
                </div>
                <ul class="nav nav-links">
                    <li class="nav-item mb-1 d-flex justify-content-between">
                        @Html.DropDownListFor(m => m.Status, Helper.GetTestStatusForTeacher(), new { @class = "form-select text-center fs-3 fw-semibold text-truncate", @style = "width: 150px;", @onchange = "doSearch(this.form, 1);" })
                        @Html.DropDownListFor(m => m.Type, Helper.GetTestType(), new { @class = "form-select text-center ms-2 me-2 fs-3 fw-semibold text-truncate", @style = "width: 150px;", @onchange = "doSearch(this.form, 1);" })
                    </li>
                    <li class="nav-item d-flex mb-1">
                        <label for="fromTime" class="input-group-text">Từ ngày:</label>
                        <input id="fromTime" type="date" class="form-control me-2" style="width: 150px;" name="FromTime" value="@(Model.FromTime == null ? "" : Model.FromTime.Value.ToString(Converter.Date))">
                    </li>
                    <li class="nav-item d-flex mb-1">
                        <label for="toTime" class="input-group-text">Đến ngày:</label>
                        <input id="toTime" type="date" class="form-control me-2" style="width: 150px;" name="ToTime" value="@(Model.ToTime == null ? "" : Model.ToTime.Value.ToString(Converter.Date))">
                    </li>
                    <li class="nav-item mb-1">
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="bi bi-funnel"></i>
                            <span class="fw-semibold ms-2">Lọc</span>
                        </button>
                    </li>
                </ul>
                @Html.HiddenFor(m => m.PageSize)
                @Html.HiddenFor(m => m.StudentId)
            </form>
            <div id="searchResult">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function initialize() {
            var page = @Model.Page;
            doSearch("#formSearch", page);
            bindEvents();
        }
        $(document).ready(function () {
            initialize();
        });

        function bindEvents() {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(this, 1);
                return;
            });
        }

        function doSearch(formSearchInput, page) {
            var url = $(formSearchInput).prop("action");
            var postData = $(formSearchInput).serializeArray();
            var searchValue = $('#searchValue').val();
            postData.push(
                { name: "page", value: page },
                { name: "SearchValue", value: searchValue }
            );
            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>
}
