@using KLTN20T1020433.Domain.Submission
@model KLTN20T1020433.Web.Areas.Student.Models.SubmissionModel
@{
    Layout = null;
}
<div id="submission">
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-text">Bài nộp của bạn</h4>
                <p class="card-text text-dark" id="submissionStatus">@Model.Submission.StatusDisplayName</p>

            </div>
        </div>
        <div class="card-body pt-0">
            <!-- Hiển thị file bài nộp của sinh viên -->
            <div class="mb-3">
                <div id="submission_files">
                </div>
                <form action="UploadSubmissionFile" class="form-group" enctype="multipart/form-data">
                    <input type="hidden" name="TestId" value="@Model.Submission.TestId" />
                    <input type="file" class="d-none" multiple id="fileInput" />
                    @if (Model.Submission.Status == SubmissionStatus.NotSubmitted)
                    {
                        <button id="selectFileBtn" type="button" class="btn btn-outline-secondary form-control">Thêm file</button>
                    }
                    else if (Model.Submission.Status == SubmissionStatus.Absent)
                    {
                        <button id="selectFileBtn" type="button" class="btn btn-outline-secondary form-control disabled" disabled>Thêm file</button>
                    }
                </form>

                @if (Model.Submission.Status == SubmissionStatus.NotSubmitted)
                {
                    <button id="submitBtn" class="btn btn-primary mt-4 form-control" type="button">Nộp bài</button>

                }
                else if (Model.Submission.Status == SubmissionStatus.Absent)
                {
                    <button id="submitBtn" class="btn btn-primary mt-4 form-control disabled" disabled type="button">Nộp bài</button>
                }
                else
                {
                    <button id="cancelBtn" class="btn btn-primary mt-4 form-control" type="button">Hủy nộp bài</button>
                }

            </div>
        </div>
    </div>
    <div class="card">
        <div class="bg-white py-3 ms-4">
            <div class="d-flex align-items-center">
                <span><i class="ti ti-user me-2"></i></span>
                <span class="card-title mb-0">@Model.Comments.Count() nhận xét riêng tư</span>
            </div>
        </div>
        <div class="mb-3 ms-4">
            <div class="container">
                <div class="row align-items-center">
                    @foreach (var item in Model.Comments)
                    {
                        <div class="col">
                            <div class="d-flex justify-content-between">
                                <p class="mb-0  "><strong>@item.TeacherName</strong></p>
                                <p class="mb-0 text-muted">@item.CommentedTime</p>
                            </div>
                            <p class="mb-0  fw-bold text-dark">@item.Body</p>
                        </div>
                    }

                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        var testId;

        function initialize() {
            testId = $("input[name='TestId']").val();
            bindEvents();
            getFiles(testId);
        }

        function bindEvents() {
            $('#selectFileBtn').off('click').on('click', function () {
                $('#fileInput').click();
            });

            $(document).on('click', '.remove-button', function () {
                var fileId = $(this).data('fileid');
                removeFile(fileId);
            });

            $('#submitBtn').on('click', function () {
                submit(testId);
            });
            $('#cancelBtn').on('click', function () {
                cancel(testId);
            });
            $('#fileInput').off('change').on('change', function () {
                uploadFiles();
            });
        }

        function removeFile(fileId) {
            var url = '@Url.Action("RemoveSubmissionFile", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { id: fileId, testId: testId },
                success: function (response) {
                    getFiles(testId);
                },
                error: function () {
                    alert("Your request is not valid!");
                }
            });
        }

        function uploadFiles() {
            var formData = new FormData();
            var files = $('#fileInput')[0].files;
            $.each(files, function (index, file) {
                formData.append('files', file);
            });
            formData.append('testId', testId);
            var url = '@Url.Action("UploadSubmissionFile", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    $('#fileInput').val('');
                    getFiles(testId);
                },
                error: function () {
                    alert("Your request is not valid!");
                }
            });
        }

        function getFiles(testId) {
            var url = '@Url.Action("ListSubmissionFiles", "Test")';
            $.ajax({
                url: url,
                type: "GET",
                data: { testId: testId },
                success: function (data) {
                    $("#submission_files").html(data);
                },
                error: function () {
                    alert("Your request is not valid!");
                }
            });
        }

        function submit(testId) {
            var url = '@Url.Action("Submit", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { testId: testId },
                success: function (data) {
                    $("#submission").html(data);
                    getFiles(testId);
                },
                error: function () {
                    alert("Your request is not valid!");
                }
            });
        }

        function cancel(testId) {
            var url = '@Url.Action("Cancel", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { testId: testId },
                success: function (data) {
                    $("#submission").html(data);
                    getFiles(testId);
                },
                error: function () {
                    alert("Your request is not valid!");
                }
            });
        }

        initialize();
    });

</script>

