@using KLTN20T1020433.Application.Services
@model KLTN20T1020433.Web.Areas.Teacher.Models.TestDetailModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <nav>
                <div class="overflow-auto">
                    <div class="nav nav-tabs d-flex " id="navTab" role="tablist">
                        <button class="nav-link active" id="nav-detail-tab" data-bs-toggle="tab" data-bs-target="#nav-detail"
                                type="button" role="tab" aria-controls="nav-detail" aria-selected="true" style="white-space: nowrap;">
                            <span class="d-inline-block">
                                Thông tin
                            </span>
                        </button>
                        <button class="nav-link" id="submissionList" data-bs-toggle="tab" data-bs-target="#nav-submission"
                                type="button" role="tab" aria-controls="nav-submission" aria-selected="false" style="white-space: nowrap;">
                            <span class="d-inline-block">Danh sách bài làm</span>
                        </button>
                    </div>
                </div>
            </nav>
            <div class="tab-content" id="navTabContent">
                <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 border-bottom border-primary mb">
                            <div class="d-flex justify-content-between align-items-center pt-2">
                                <h2 class="fw-semibold text-primary">@Model.Test.Title</h2>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("Edit","Test", new {id = Model.Test.TestId})"><span class="text-dark fs-3">Chỉnh sửa</span></a>

                                        </li>
                                        <li><a class="dropdown-item" href="javascript:;" onclick="openModalDeleteTest(@Model.Test.TestId)"><span class="text-dark fs-3">Xóa</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <p class="text-dark mb-0 me-2">@Model.Test.TeacherName</p>
                                <span class="text-muted">-</span>
                                <p class="text-dark mb-0 mx-2">@Model.Test.CreatedTime.ToString(Converter.DateWithMonth)</p>
                                <p class="text-muted mb-0">(Đã chỉnh sửa @Model.Test.LastUpdateTime.ToString(Converter.TimeWithDateAndMonth))</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <p class="fw-semibold text-dark mb-1">
                                    Thời gian bắt đầu: @if (@Model.Test.StartTime != null)
                                    {
                                        @Model.Test.StartTime.Value.ToString(Converter.TimeWithDateAndMonth)
                                    }
                                    else
                                    {
                                        <span>Không có</span>

                                    }
                                </p>
                                <p class="fw-semibold text-dark mb-1">
                                    Thời gian kết thúc: @if (@Model.Test.EndTime != null)
                                    {
                                        @Model.Test.EndTime.Value.ToString(Converter.TimeWithDateAndMonth)
                                    }
                                    else
                                    {
                                        <span>Không có</span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-10 row mt-2">
                            <div class="col-md-6">
                                <span class="text-dark fs-3 fw-semibold">
                                    Hướng dẫn
                                </span>
                                <p>@Html.Raw(Model.Test.Instruction)</p>
                            </div>
                            <div class="col-md-6">
                                <span class="text-dark fs-3 fw-semibold">Tệp đính kèm</span>
                                <div class="row mt-3">
                                    @foreach (var item in Model.Files)
                                    {
                                        <div class="col-lg-10 col-sm-6 mb-3">
                                            <div class="p-2 border rounded-1">
                                                <a href="#" class="file-link text-dark d-block" data-file="deso1.jpg">
                                                    <img src="../assets/images/logos/favicon.png" width="60px" class="mx-2">
                                                    <span class="text-primary">@item.OriginalName</span>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-submission" role="tabpanel" aria-labelledby="submissionList">
                <div id="submissionContent">
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var testId = @Model.Test.TestId;
            bindEvents(testId);
        });
        function bindEvents(testId) {
            $("#submissionList").on('click', function () {
                getListSubmissions(testId);
            });
        }
        function getListSubmissions(testId) {
            var url = '@Url.Action("ListSubmissions", "Test")';
            $.ajax({
                url: url,
                type: 'GET',
                data: { testId: testId },
                success: function (data) {
                    $('#submissionContent').html(data);
                },
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                }
            });
        }
        function openModalDeleteTest(testId) {
            openModalWithConfirmation('Xóa kỳ thi', 'Bạn có chắc chắn muốn xóa kỳ thi?', 'Xác nhận', function () {
                deleteTest(testId);
            });
        }
        function deleteTest(testId) {
            var url = '@Url.Action("Delete", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { id: testId },
                success: function (response) {
                    showToast(response);
                    window.location.href = '@Url.Action("Index", "Test")';
                },
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                }
            });
        }
    </script>
}
