@model KLTN20T1020433.Application.DTOs.TeacherDTOs.GetTestByIdResponse
@{
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
    string action = "";
    @if (ViewBag.IsEdit)
    {
        action = Url.Action("EditStudents", "Test", new { id = Model.TestId });
    }
    else
    {
        action = Url.Action("SelectStudents", "Test", new { type = Model.TestType });
    }
}
<div class="container-fluid ps-0 pe-0">
    <form action="@action" method="post">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center me-9">
                    <h1 class="fs-8 fw-semibold align-items-center">@ViewBag.Title</h1>
                    <input type="hidden" name="TestId" value="@Model.TestId" />
                    <button type="submit" class="btn btn-primary" style="width: 150px;">Chọn sinh viên</button>
                </div>
                <div class="row">
                    <!-- Cột trái -->
                    <div class="col-lg-8 mt-4">
                        <div class="col-lg mb-4 card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Tiêu đề:</label>
                                    <input type="text" class="form-control" id="title" required name="Title" value="@Model.Title">
                                </div>
                                <div class="mb-3">
                                    <label for="instruction" class="form-label">Hướng dẫn (không bắt buộc):</label>
                                    <div contenteditable="true" class="text-editor card-subtitle d-inline-block">
                                        @Model.Instruction
                                    </div>
                                    <div class="text-start" style="background-color: var(--bs-secondary-bg)">
                                        <button class="btn btn-primary m-1" onclick="document.execCommand('bold', false, null)"><strong>B</strong></button>
                                        <button class="btn btn-primary m-1" onclick="document.execCommand('italic', false, null)"><em>I</em></button>
                                        <button class="btn btn-primary m-1" onclick="document.execCommand('underline', false, null)"><u>U</u></button>
                                    </div>

                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="isCheckIP" name="IsCheckIP" value="@Model.IsCheckIP">
                                    <label class="form-check-label" for="isCheckIP">Kiểm tra IP</label>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="isConductedAtSchool" name="IsConductedAtSchool" value="@Model.IsConductedAtSchool">
                                    <label class="form-check-label" for="isConductedAtSchool">Thi trên máy trường</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg mb-4 card">
                            <div class="card-body">
                                <b class="mb-3">Đính kèm</b>
                                <div id="test_files">
                                </div>
                                <form method="post" enctype="multipart/form-data" action="UploadTestFile">
                                    <input type="file" class="d-none" multiple id="fileInput" />
                                    <div class="mb-3 d-flex justify-content-center">
                                        <button id="selectFileBtn" type="button" class="btn btn-primary">Tải lên</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Cột phải -->
                    <div class="col-lg-4 mt-4 me-0">
                        @if (Model.TestType == KLTN20T1020433.Domain.Test.TestType.Quiz)
                        {
                            <div class="col-lg mb-4 card">
                                <div class="card-body">
                                    <div class="">
                                        <p class="form-label">Học phần:</p>
                                        <div id="class-list" class="btn-group mt-1" role="group" aria-label="Class List">
                                            <button type="button" class="btn btn-outline-primary class-btn">Lập trình web</button>
                                            <button type="button" class="btn btn-outline-primary class-btn">Kỹ thuật lập trình</button>
                                            <button type="button" class="btn btn-outline-primary class-btn">Nhập môn trí tuệ nhân tạo</button>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-lg card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="start-time" class="form-label">Thời gian bắt đầu:</label>
                                    <input type="datetime-local" class="form-control" id="start-time" name="StartTime" value="@Model.StartTime">
                                </div>
                                <div class="mb-3">
                                    <label for="deadline" class="form-label">Hạn nộp:</label>
                                    <input type="datetime-local" class="form-control" id="deadline" name="EndTime" value="@Model.EndTime">
                                </div>

                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="CanSubmitTime" value="@Model.CanSubmitLate">
                                    <label class="form-check-label" for="exampleCheck1">Đóng tính năng nộp bài sau ngày đến hạn</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var testId = @Model.TestId;
            getFiles(testId);
            bindEvents();
        });    
        function bindEvents() {
            $('#selectFileBtn').on('click', function () {
                $('#fileInput').click();
            });
            $('#fileInput').off('change').on('change', function () {
                var formData = new FormData();
                var files = $(this)[0].files;
                files.forEach(function (file) {
                    formData.append('files', file);
                });
                uploadFiles(formData);
            });

            // Bắt sự kiện khi click vào nút xóa file
            $(document).on('click', '.remove-button', function () {
                var fileId = $(this).data('fileid');
                removeFile(fileId);
            });
            $('.class-btn').click(function () {
                $('.class-btn').removeClass('selected');
                $(this).addClass('selected');
            });
        }
        function uploadFiles(formData) {
            var url = '@Url.Action("UploadTestFile", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#fileInput').val('');
                    getFiles(response);
                },
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                }
            });
        }
        function getFiles(testId) {
            var url = '@Url.Action("ListTestFiles", "Test")';
            $.ajax({
                url: url,
                type: "GET",
                data: { testId: testId },
                success: function (data) {
                    $("#test_files").html(data);
                },
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                }
            });
        }
        function removeFile(fileId) {
            var url = '@Url.Action("RemoveTestFile", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { id: fileId },
                success: function (response) {
                    getFiles(response);
                },
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                }
            });
        }
        function handleAjaxError(xhr) {
            var errorMessage = xhr.responseText;
            alert("Your request is not valid: " + errorMessage);
        }
       

    </script>

}