@using KLTN20T1020433.Application.Services
@model KLTN20T1020433.Application.DTOs.TeacherDTOs.GetTestByIdResponse
@{
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
    string action = ViewBag.IsEdit ? Url.Action("EditStudents", "Test", new { id = Model.TestId }) : Url.Action("SelectStudents", "Test", new { type = Model.TestType });
}
<div class="container-fluid px-0">
    <form action="@action" method="post">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center me-9 flex-wrap">
                    <h2 class="fw-semibold align-items-center">@ViewBag.Title</h2>
                    <input type="hidden" name="TestId" value="@Model.TestId" />
                    <div class="d-flex justify-content-end">
                        @if (ViewBag.IsEdit)
                        {
                            <button id="deleteBtn" type="button" class="btn btn-outline-danger me-2" style="width: 100px;"><span class="fw-semibold">Xóa</span></button>
                        }
                        else
                        {
                            <button id="cancelBtn" type="button" class="btn btn-outline-danger me-2" style="width: 100px;"><span class="fw-semibold">Hủy</span></button>
                        }
                        <button type="submit" class="btn btn-outline-primary" style="width: 154px;"><i class="bi bi-person-plus"></i><span class="fw-semibold ms-2">Chọn sinh viên</span></button>
                    </div>
                </div>
                <div class="row">
                    <!-- Cột trái -->
                    <div class="col-lg-8 mt-4">
                        <div class="col-lg mb-4 card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Tiêu đề:</label>
                                    <input type="text" class="form-control" id="title" required name="Title" value="@Model.Title">
                                </div>
                                <div class="mb-3">
                                    <label for="instruction" class="form-label">Hướng dẫn (không bắt buộc):</label>
                                    <textarea id="instructionInput">@Model.Instruction</textarea>
                                    <input type="hidden" id="instruction" name="instruction" value="@Model.Instruction" />
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="isCheckIP" name="IsCheckIP" value="true" @(Model.IsCheckIP ? "checked" : "")>
                                    <label class="form-check-label" for="isCheckIP">Kiểm tra IP</label>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="isConductedAtSchool" name="IsConductedAtSchool" value="true" @(Model.IsConductedAtSchool ? "checked" : "")>
                                    <label class="form-check-label" for="isConductedAtSchool">Thi trên máy trường</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg mb-4 card">
                            <div class="card-body">
                                <b class="mb-3">Đính kèm</b>
                                <div id="test_files">
                                </div>
                                <form method="post" enctype="multipart/form-data" action="UploadTestFile">
                                    <input type="file" class="d-none" multiple id="fileInput" />
                                    <div class="mb-3 d-flex justify-content-center">
                                        <button id="selectFileBtn" type="button" class="btn btn-primary">Tải lên</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Cột phải -->
                    <div class="col-lg-4 mt-4 me-0">
                        @if (Model.TestType == KLTN20T1020433.Domain.Test.TestType.Quiz)
                        {
                            <div class="col-lg mb-4 card">
                                <div class="card-body">
                                    <div class="">
                                        <p class="form-label">Học phần:</p>
                                        <div id="class-list" class="btn-group mt-1" role="group" aria-label="Class List">
                                            <button type="button" class="btn btn-outline-primary class-btn">Lập trình web</button>
                                            <button type="button" class="btn btn-outline-primary class-btn">Kỹ thuật lập trình</button>
                                            <button type="button" class="btn btn-outline-primary class-btn">Nhập môn trí tuệ nhân tạo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-lg card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="start-time" class="form-label">Thời gian bắt đầu:</label>
                                    <input type="datetime-local" class="form-control" id="start-time" name="StartTime" value="@(Model.StartTime == null ? "" : Model.StartTime.Value.ToString(Converter.DateTimeLocal))">
                                </div>
                                <div class="mb-3">
                                    <label for="deadline" class="form-label">Hạn nộp:</label>
                                    <input type="datetime-local" class="form-control" id="deadline" name="EndTime" value="@(Model.EndTime == null ? "" : Model.EndTime.Value.ToString(Converter.DateTimeLocal))">
                                </div>

                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="CanSubmitLate" value="true" @(Model.CanSubmitLate ? "checked" : "")>
                                    <label class="form-check-label" for="exampleCheck1">Đóng tính năng nộp bài sau ngày đến hạn</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script>
        ClassicEditor
            .create(document.querySelector('#instructionInput'), {
                toolbar: ['undo', 'redo', '|', 'bold', 'italic', 'underline', '|', 'alignment:left', 'alignment:right', 'alignment:center', 'alignment:justify', '|', 'bulletedList', 'numberedList']

            })
            .then(editor => {
                console.log('Editor was initialized', editor);
                //editor.setData(@Model.Instruction);
                editor.model.document.on('change:data', () => {
                    document.querySelector('#instruction').value = editor.getData();
                });
            })
            .catch(error => {
                console.error('There was an error initializing the editor', error);
            });
        function initialize() {
            var testId = @Model.TestId;
            getFiles(testId);
            bindEvents(testId);
        }
        $(document).ready(function () {
            initialize();
        });
        function bindEvents(testId) {
            $('#selectFileBtn').off('click').on('click', function () {
                $('#fileInput').click();
            });
            $('#fileInput').off('change').on('change', function () {
                var check = checkFileSize(this);
                if (check)
                    uploadFiles(testId);
            });
            $('#cancelBtn').on('click', function () {
                cancelCreation(testId);
            });
            // Bắt sự kiện khi click vào nút xóa file
            $(document).on('click', '.remove-button', function () {
                var fileId = $(this).data('fileid');
                removeFile(fileId, testId);
            });
            $('.class-btn').click(function () {
                $('.class-btn').removeClass('selected');
                $(this).addClass('selected');
            });
            $('#deleteBtn').click(function () {
                openModalWithConfirmation('Xóa kỳ thi', 'Bạn có chắc chắn muốn xóa kỳ thi?', 'Xác nhận', function () {
                    deleteTest(testId);
                });
            });

        }
        function uploadFiles(testId) {
            var formData = new FormData();
            var files = $('#fileInput')[0].files;
            $.each(files, function (index, file) {
                formData.append('files', file);
            });
            formData.append('testId', testId);
            var url = '@Url.Action("UploadTestFile", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $('#fileInput').val('');
                        testId = response.testId;
                        initialize(testId)
                        getFiles(testId);
                    }
                    else {
                        showToast(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                }
            });
        }
        function getFiles(testId) {
            var url = '@Url.Action("ListTestFiles", "Test")';
            $.ajax({
                url: url,
                type: "GET",
                data: { testId: testId },
                success: function (data) {
                    $("#test_files").html(data);
                },
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                }
            });
        }
        function removeFile(fileId, testId) {
            var url = '@Url.Action("RemoveTestFile", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { id: fileId, testId: testId },
                success: function (response) {
                    showToast(response);
                    getFiles(testId);
                },
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                }
            });
        }
        function deleteTest(testId) {
            var url = '@Url.Action("Delete", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { id: testId },
                success: function (response) {
                    showToast(response);
                    window.location.href = '@Url.Action("Index", "Test")';
                },
                error: function (xhr, status, error) {
                    handleAjaxError(xhr);
                }
            });
        }
        function cancelCreation(testId) {
            var url = '@Url.Action("CancelCreation", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { testId: testId },
                success: function (result) {
                    window.location.href = '@Url.Action("Index", "Test")';
                },
                error: function (error) {
                    alert("Your request is not valid!");
                }
            });
        }
    </script>

}