@model KLTN20T1020433.Web.Areas.Teacher.Models.CourseModel
@{
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid ps-0 pe-0">
    <div class="card">
        <div class="card-body">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fw-semibold fs-8 text-dark">@ViewBag.Title</li>
                <li class="breadcrumb-item fw-semibold fs-8 text-dark">Chọn sinh viên tham gia</li>
            </ol>
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <div class="mb-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#studentModal">
                            Chọn sinh viên khác
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="studentModalLabel">Danh sách sinh viên</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Tìm kiếm..."
                                                   aria-label="Tìm kiếm...">
                                            <button class="btn btn-outline-secondary" type="button">
                                                Tìm
                                                kiếm
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <button id="cancelBtn" type="button" class="btn btn-outline-muted me-2" style="width:100px">Hủy</button>
                    <button id="saveBtn" type="button" class="btn btn-success" style="width:100px">Lưu</button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-5">
                    <div class="col-lg mb-4 border rounded p-3">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <div class="d-flex align-items-center">
                                <h4 class="mb-0 me-1 fw-semibold">Sinh viên</h4>
                                <span class="fw-semibold" id="countStudentsCourse"></span>
                            </div>
                            <div class="">
                                <select class="form-select" id="Course" name="Course">
                                    <option selected value="">Chọn lớp học phần</option>
                                    @foreach (var item in Model.Courses)
                                    {
                                        <option value="@item.CourseId" data="(@item.StudentCount)">@item.CourseName</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="Tìm kiếm...">
                                <button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
                            </div>
                        </div>
                        <div id="listStudents">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="col-lg mb-4 border rounded mt-4">
                        <div class="d-block">
                            <button id="selectBtn" class="btn btn-outline-primary w-100 d-block"><span class="fw-semibold text-center me-3">Chọn</span><i class="bi bi-caret-right-square"></i></button>
                            <button id="removeBtn" class="btn btn-outline-secondary w-100 d-block"><i class="bi bi-caret-left-square"></i><span class="fw-semibold text-center ms-3">Bỏ</span></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-lg mb-4 border rounded p-3">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="mb-0 me-1 fw-semibold">Danh sách tham gia</h4>
                            <span class="fw-semibold" id="countSelectedStudent"></span>
                        </div>
                        <div class="mb-4">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="Tìm kiếm...">
                                <button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
                            </div>
                        </div>
                        <div id="selectedStudents"></div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var testId = @Model.TestId;               
            bindEvents(testId);            
            getSelectedStudents(testId);
            checkSelectedStudents(getSelectedStudentIds());
        });
        function bindEvents(testId) {
            $('#cancelBtn').on('click', function () {
                console.log("a");
                cancelCreation(testId);
            });
            $("#saveBtn").on('click', function () {
                console.log("a");
                saveSelection(testId, getSelectedStudentIds());
            });
            $('#Course').on('change', function () {
                selectCourse(getSelectedStudentIds());
            });
            $('#selectBtn').on('click', function () {
                selectStudents();
                checkSelectedStudents(getSelectedStudentIds());
            });
            $('#removeBtn').on('click', function () {
                removeSelectedStudents();
                checkSelectedStudents(getSelectedStudentIds());
            });
        }
        function getSelectedStudentIds() {
            var selectedStudentIds = [];
            $('#selectedStudents .student-checkbox').each(function () {
                var studentId = $(this).val();
                selectedStudentIds.push(studentId);
            });
            return selectedStudentIds;
        }
        function getSelectedStudents(TestId) {
            var url = '@Url.Action("SelectedStudents", "Test")';
            $.ajax({
                url: url,
                type: 'GET',
                data: { testId: TestId },
                success: function (data) {
                    $('#selectedStudents').html(data);                    
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        function selectCourse(selectedStudentIds) {
            var courseId = $('#Course').val();
            var courseName = $('#Course').find(':selected').text();
            var studentCount = $('#Course').find(':selected').attr('data');

            $('#selectCourse').text(courseName);
            var url = '@Url.Action("ListStudents", "Test")';
            $.ajax({
                url: url,
                type: 'GET',
                data: { courseId: courseId },
                success: function (data) {
                    $('#countStudentsCourse').text(studentCount)
                    $('#listStudents').html(data);
                    checkSelectedStudents(selectedStudentIds);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function saveSelection(testId, studentIds) {
            var url = '@Url.Action("Save", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { testId: testId, selectedStudentIds: studentIds },
                success: function (response) {
                    if (response.success)
                        window.location.href = '@Url.Action("Index", "Test")';
                    else {
                        showToast(response.message);
                    }
                },
                error: function (error) {
                    alert("Your request is not valid!");
                }
            });
        }
        function cancelCreation(testId) {
            var url = '@Url.Action("CancelCreation", "Test")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { testId: testId },
                success: function (result) {
                    window.location.href = '@Url.Action("Index", "Home")';
                },
                error: function (error) {
                    alert("Your request is not valid!");
                }
            });
        }
        function selectStudents() {
            var students = [];
            $('#listStudents .student-checkbox:checked').each(function () {
                $(this).prop('checked', false);
                var studentId = $(this).val();
                var studentRow = $(this).closest('tr');
                var studentName = studentRow.find('td:nth-child(3)').text();
                students.push({ id: studentId, name: studentName });
                // Di chuyển sinh viên được chọn vào danh sách đã chọn
                var clonedStudentRow = studentRow.clone();
                // Thêm hàng sinh viên đã sao chép vào danh sách mới
                $('#selectedStudents tbody').append(clonedStudentRow);               
            });
            updateSelectedStudentCount();            
        }
        function checkSelectedStudents(selectedStudentIds) {
            $('#listStudents .student-checkbox').each(function () {
                var studentId = $(this).val();
                var isSelected = selectedStudentIds.some(function (student) {
                    return student == studentId;
                });
                if (isSelected) {
                    $(this).prop('disabled', true); // Nếu studentId được chọn, thêm disabled vào input
                } else {
                    $(this).prop('disabled', false); // Nếu không được chọn, bỏ disabled
                }
            });
        }
        function removeSelectedStudents() {
            $('#selectedStudents .student-checkbox:checked').each(function () {
                $(this).closest('tr').remove(); // Xóa hàng chứa sinh viên đã chọn
            });
            // Cập nhật lại số lượng sinh viên đã chọn
            updateSelectedStudentCount();
        }
        function updateSelectedStudentCount() {
            var selectedStudentCount = $('#selectedStudents .student-checkbox').length;
            $('#countSelectedStudent').text("(" + selectedStudentCount + ")");
        }
        // Bắt sự kiện khi nút "Bỏ" được nhấn
       

    </script>
}

