@model KLTN20T1020433.Web.Areas.Teacher.Models.SubmissonSearchResult
@{
    Layout = null;
    int i = 0;
}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên sinh viên</th>
                        <th scope="col">Giờ nộp</th>
                        <th scope="col">Địa chỉ IP</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Số file đính kèm</th>
                        <th scope="col">Xem</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data != null && Model.Data.Any())
                    {
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <td>@(++i)</td>
                                <td>@item.StudentName</td>
                                <td>@item.SubmittedTime</td>
                                <td>@item.IpAddress</td>
                                <td class="text-success">@item.StatusDisplayName</td>
                                <td>@item.FilesCount</td>
                                <td>
                                    <a href="@Url.Action("Submission","Test", new {id = item.SubmissionId, testId = Model.TestId})">
                                        <i class="bi bi-x">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@if (Model.PageCount > 1)
{
    <div class="text-center">
        <ul class="pagination d-flex justify-content-center">

            @for (int p = 1; p <= Model.PageCount; p++)
            {
                if (Model.Page == p)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" onclick="doSearch('#formSearch',@p)">@p</a>
                    </li>
                }
            }
        </ul>
    </div>
}