@using KLTN20T1020433.Domain.Submission
@model KLTN20T1020433.Web.Areas.Teacher.Models.SubmissonSearchResult
@{
    Layout = null;
    int i = 0;
}
<div class="overflow-y-auto mw-100 text-center mb-2" style="height: calc(100vh - 295px);">
    <div class="table-responsive-md">
        <table class="table table-bordered table-hover">
            <thead class="sticky-top table-info">
                <tr>
                    <th scope="col" class="d-none d-md-table-cell" >STT</th>
                    <th scope="col">Tên sinh viên</th>
                    <th scope="col" class="d-none d-sm-table-cell">Giờ nộp</th>
                    <th scope="col">Địa chỉ IP</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col" class="d-none d-md-table-cell">Số tệp đính kèm</th>
                    <th scope="col">Xem</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data != null && Model.Data.Any())
                {
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td class="d-none d-md-table-cell" >@(++i)</td>
                            <td>@item.StudentName</td>
                            <td class="d-none d-sm-table-cell">@item.SubmittedTime</td>
                            <td>@item.IpAddress</td>
                            <td>
                                @switch (item.Status)
                                {
                                    case SubmissionStatus.Absent:
                                        <span class="text-warning">@item.StatusDisplayName</span>
                                        break;

                                    case SubmissionStatus.LateSubmission:
                                        <span class="text-danger">@item.StatusDisplayName</span>
                                        break;
                                    case SubmissionStatus.PendingProcessing:
                                        <span class="text-info">@item.StatusDisplayName</span>
                                        break;
                                    case SubmissionStatus.Submitted:
                                        <span class="text-success">@item.StatusDisplayName</span>
                                        break;
                                    case SubmissionStatus.NotSubmitted:
                                        <span class="text-secondary">@item.StatusDisplayName</span>
                                        break;
                                    default:
                                        // Handle other statuses or a default case if needed
                                        break;
                                }

                            </td>
                            <td class="d-none d-md-table-cell">@item.FilesCount</td>
                            <td>
                                @if (@item.FilesCount > 0)
                                {
                                    <a href="@Url.Action("Submission","Test", new {id = item.SubmissionId, testId = Model.TestId})">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" disabled>
                                        <i class="bi bi-eye"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>
@if (Model.PageCount > 1)
{
    <div class="text-center">
        <ul class="pagination d-flex justify-content-center">

            @for (int p = 1; p <= Model.PageCount; p++)
            {
                if (Model.Page == p)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" onclick="doSearch('#formSearch',@p)">@p</a>
                    </li>
                }
            }
        </ul>
    </div>
}
