@model KLTN20T1020433.Web.Areas.Teacher.Models.SubmissonSearchResult
@{
    Layout = null;
    int i = 0;
}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên sinh viên</th>
                        <th scope="col">Giờ nộp</th>
                        <th scope="col">Địa chỉ IP</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Số file đính kèm</th>
                        <th scope="col">Xem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>@(++i)</td>
                            <td>@item.StudentName</td>
                            <td>@item.SubmittedTime</td>
                            <td>@item.IpAddress</td>
                            <td class="text-success">@item.StatusDisplayName</td>
                            <td>@item.FilesCount</td>
                            <td><a href="Submission"><i class="bi bi-x"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>