@model KLTN20T1020433.Web.Areas.Teacher.Models.TestSearchResult
@{
    Layout = null;
}
<div class="row">
    <div class="col">
        @if (Model.Data != null && Model.Data.Any())
        {
            <ul class="list-unstyled">
                @foreach (var item in Model.Data)
                {
                    <li class="card mb-3">
                        <div class="row">
                            <div class="col-lg-8 d-flex align-items-center justify-content-start">
                                <input type="checkbox" class="form-check-input test-checkbox ms-4 me-3" style="transform: scale(1.2);"
                                       name="TestSelecting" value="@item.TestId">
                                <a href="@Url.Action("Detail", "Test", new {Id = item.TestId})" class="card-link py-3 d-block w-100">
                                    <div class="ms-2">
                                        <p class="mb-0 fs-5 fw-semibold text-dark">@item.Title</p>
                                        <p class="mb-0 fw-semibold">@item.StatusDisplayName</p>
                                    </div>

                                </a>
                            </div>
                            <div class="col-lg-4 d-flex align-items-center justify-content-end">
                                <p class="mb-0 text-muted">
                                    @if (@item.LastUpdateTime != "")
                                    {
                                        <b>Thời gian chỉnh sửa: @item.LastUpdateTime</b>
                                    }
                                    else
                                    {
                                        <b>Thời gian tạo: @item.CreatedTime</b>
                                    }
                                </p>

                                <div class="dropdown me-1 ms-2">
                                    @if (item.Status == KLTN20T1020433.Domain.Test.TestStatus.Creating || item.Status == KLTN20T1020433.Domain.Test.TestStatus.Upcoming || item.Status == KLTN20T1020433.Domain.Test.TestStatus.Ongoing)
                                    {
                                        <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-list"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-light" disabled>
                                            <i class="bi bi-list"></i>
                                        </button>
                                    }
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="@Url.Action("Edit","Test", new {id = item.TestId})"><span class="text-dark fs-3">Chỉnh sửa</span></a>
                                        <a class="dropdown-item" href="javascript:;" onclick="deleteTest(@item.TestId)"><span class="text-dark fs-3">Xóa</span></a>
                                    </div>
                                </div>
                            </div>
                    </li>
                }
            </ul>
            @if (Model.PageCount > 1)
            {
                <div class="text-center">
                    <ul class="pagination d-flex justify-content-center">

                        @for (int p = 1; p <= Model.PageCount; p++)
                        {
                            if (Model.Page == p)
                            {
                                <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="javascript:;" onclick="doSearch('#formSearch',@p)">@p</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            }
        }
        else
        {
            <div class="alert alert-info" role="alert">
                Không có kết quả nào.
            </div>
        }
    </div>
</div>
<script>
    function deleteTest(testId) {
        var url = '@Url.Action("Delete", "Test")';
        $.ajax({
            url: url,
            type: 'POST',
            data: { id: testId },
            success: function (response) {
                showToast(response);
                doSearch('#formSearch', @Model.Page)
            },
            error: function (xhr, status, error) {
                handleAjaxError(xhr);
            }
        });
    }

</script>
